<div class="container">
  

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-anida"></div>
      <mat-card-title>Anida Mujezin</mat-card-title>
      <mat-card-subtitle>Full Stack Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Anida_Mujezin.png" alt="Anida Mujezin">
    
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-dzenana"></div>
      <mat-card-title>Nejra Sivić</mat-card-title>
      <mat-card-subtitle>Frontend developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Nejra_Sivic.png" alt="Dženana Šabović">
    
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-arslan"></div>
      <mat-card-title>Emir Grbo</mat-card-title>
      <mat-card-subtitle>Backend Developer</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/Emir_Grbo.png" alt="Arslan Turkušić">
    
  </mat-card>

  
</div>
<br>
<hr>
<div class="created">
 <p>Powered by  <a href="https://fsk.unsa.ba/">&nbsp;FSK 2021.&nbsp;</a></p>
</div>